 /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}  
  /* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
.ticoRideLogo{
    width: 200px;
    height: 150px;
}
.jumbotron{
    background-image: url("https://i.stack.imgur.com/HgfKp.png") 
}

#register{
    width: 300px;
}

  form.rides{
      text-align: right;
   text-align: justify;
  }
#btnSaveEdit {
    visibility: hidden;
}
  