h1 {
  margin: 15px;
  color: rgb(70, 71, 73);
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  margin: 15px;
  color: rgb(70, 71, 73);
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  border-radius: 2px;
  background-color: rgb(37, 73, 173);
  border: none;
  color: white;
  margin-top: 10px;
  margin-left: 1280px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.buttonFind {
  border-radius: 2px;
  background-color: rgb(37, 73, 173);
  border: none;
  color: white;
  margin-left: 520px;
  padding: 15px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonLogin {
  border-radius: 2px;
  background-color: rgb(37, 73, 173);
  border: none;
  color: white;
  margin:10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.button:hover {background-color: rgb(37, 73, 173)}

.button:active {
  background-color:  rgb(37, 73, 173);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div.logo { 

  margin-top: 30px;
  margin-left: 600px;
  border: 2px solid #ccc;
  float: center;
  width: 200px;
}
div.logoDash { 

  margin-top: 30px;
  margin-left: 30px;
  border: 2px solid #ccc;
  float: center;
  width: 200px;
}
div.dashboardtable { 
  padding: 10px;
  text-align: left;
  margin: 30px;
  border: 1px solid #ccc;
  float: left;
  width: 1350px;
}
div.dashboard { 
  text-align: left;
  margin: 30px;
  border: 2px solid #ccc;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  width: 1350px;
}
div.dashboard2 { 
  text-align: left;
  margin: 10px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
}
div.title { 
  text-align: left;
  margin-left: 15px;
  float: left;
  width: 1350px;
}
div.search { 
  text-align: left;
  margin: 30px;
  border: 2px solid #ccc;
  float: left;
  width: 1350px;
}
div.cancel {  
  text-align: left;
  margin-left: 0px;
  float: left;
  width: 260px;
}
div.tablerides { 
  
  text-align: left;
  margin: 30px;
  border: 2px solid #ccc;
  float: left;
  width: 1350px;
}
div.login { 
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-left: 615px;
  width: 210px;
}
div.navBar { 
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
  width: 300px;
}
div.setting { 
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-left: 60px;
  width: 210px;
}
div.rides { 
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
  float: center;
  font-size: 18px;
  border-bottom: 2px solid #cccccc;
}
div.rides2 { 
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
  float: center;
  font-size: 18px;
  
}
form.login{
  align-content: center;
  margin: 10px;
  float: center;
  font-size: 18px;
}
form.rides{
  align-content: center;
  margin-left: 150px;
  float: left;
  font-size: 18px;
}
form.place{
  align-content: center;
  margin: 50px;
  float: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
input.from{
  margin-right:200px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
ul {
  border-radius: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


